<template name="Create_demo">




<html>
  <head>
    <meta charset="utf-8">
    <title>Hallo</title>
    <link href="../../../client/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../../../client/bootstrap/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="../../../client/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Demonstration erstellen</h1>
    <form action="">
      <label for="name">Name</label>
      <input id="ueberschrift" type="text" name="name" class="block-input">

      <label for="category">Kategorie</label>
      <select name="category" id="kategorie" class="block-input">
        <option value="cat1">Cat 1</option>
        <option value="cat2">Cat 2</option>
      </select>

      <label for="timeRange">Zeitraum (Beginn-Ende)</label>
      <div name="timeRange" id="zeitraum">
        <div>
          <input type="date" name="beginDate" class="inline-input">
          <input type="datetime" name="beginTime" class="inline-input">
        </div>
        <div>
          <input type="date" name="endDate" class="inline-input">
          <input type="datetime" name="endTime" class="inline-input">
        </div>
      </div>
      <div>
        <label for="city">Stadt</label>
        <select name="city" id="stadt">
          <option value="1">Berlin</option>
        </select>
        <label for="state">Bundesland</label>
        <select name="state" id="bundesland">
          <option value="1">Berlin</option>
          <option value="1">Bayern</option>
        </select>
      </div>

      <label for="description">Beschreibung</label>
      <textarea id="beschreibung" name="description" class="block-input"></textarea>

      <label><input type="checkbox"><a href="#">Nutzungsbediungen</a> akzeptieren</label>
      <a name="create" class="block-input" id="erstellen" href="/" >Erstellen</a>

    </form>
  </body>
</html>




</template>
