#header {
  height: 100px;
}

#container {
  max-width: 900px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p,span,div {
  margin: 0;
  padding: 0;
}
.logo {
  color: #fff;
  float: left;
  margin-top: 28px;
}

.anmelde-part {
  float: right;
  padding-right: 20px;
  margin-top: 18px;
}

.content-left {
  float: left;
  text-align: left;
}

.content-right {
  float: right;
}

.content-right h1 {
  margin-bottom: 20px;
}

.signin-field {
  display: inline-block;
  margin-right: 4px;
}

.signin-field label {
  color: #fff;
}

.table .icon {
  margin-right: 20px;
  width: 50px;
}
