.infobox{
    float:left;
    margin: 20px;
    min-width: 25%;
}
/*
#Fusszeile{
    position: absolute;
    bottom: 0;
    left: 5px;
}
*/
#Kopfzeile{
    background-color: #d4d4d4 !important;
}
.Fusszeile a{
    margin-left: 5px;
    margin-right: 5px;
}

body, html{
    min-height: 100%;
}
.menu_item {
    margin-right: 20px;
    margin-left: 20px;
}
.demo {
    overflow: hidden;
}

.demobox {
    float: left;
}

.header {
    clear: left;
    margin-top: 10px;
}

.text {
    clear: left;
    padding-left: 20px;
    margin-top: 10px;
}
.table .icon{
    margin-left: 40px;
}
.infobox-content{
    min-height: 175px;
}

