/* Notie CSS */
.notie-transition{ -webkit-transition: all 0.3s ease; transition: all 0.3s ease;}.notie-background-success{background-color: #57BF57 !important;}.notie-background-warning{background-color: #D6A14D !important;}.notie-background-error{background-color: #E1715B !important;}.notie-background-info{background-color: #4D82D6 !important;}#notie-alert-outer, #notie-confirm-outer, #notie-force-outer, #notie-input-outer, #notie-select-outer, #notie-date-outer{position: fixed; top: 0; left: 0; z-index: 999999999; height: auto; width: 100%; display: none; text-align: center; cursor: pointer; font-size: 24px; -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);}@media (max-width: 600px){#notie-alert-outer, #notie-confirm-outer, #notie-force-outer, #notie-input-outer, #notie-select-outer, #notie-date-outer{font-size: 18px;}}#notie-alert-inner{padding: 20px; display: table-cell;}#notie-alert-content{max-width: 900px; margin: 0 auto;}#notie-alert-text{color: #FFFFFF;}#notie-confirm-outer{cursor: default;}#notie-confirm-inner, #notie-force-inner, #notie-input-inner, #notie-select-inner{box-sizing: border-box; width: 100%; padding: 20px; display: block; cursor: default; background-color: #4D82D6;}#notie-confirm-text{color: #FFFFFF;}#notie-confirm-text-yes{color: #FFFFFF;}#notie-confirm-text-no{color: #FFFFFF;}#notie-confirm-yes, #notie-confirm-no, #notie-input-no, #notie-input-yes{float: left; height: 50px; line-height: 50px; width: 50%; cursor: pointer; background-color: #57BF57;}#notie-confirm-no, #notie-input-no{float: right; background-color: #E1715B;}#notie-confirm-background, #notie-force-background, #notie-input-background, #notie-select-background, #notie-date-background{position: fixed; top: 0; left: 0; z-index: 999999980; height: 100%; width: 100%; display: none; background-color: #FFFFFF; opacity: 0;}/* FORCE */#notie-force-outer{cursor: default;}#notie-force-text{color: #FFFFFF;}#notie-force-button{height: 50px; line-height: 50px; width: 100%; cursor: pointer; color: #FFFFFF;}/* INPUT */#notie-input-outer{cursor: default;}#notie-input-field{display: block; box-sizing: border-box; height: 55px; width: 100%; text-align: center; outline: 0; border: 0; background-color: #FFFFFF; font-family: inherit; font-size: 24px;}@media (max-width: 600px){#notie-input-field{font-size: 18px;}}#notie-input-text{color: #FFFFFF;}#notie-input-text-yes{color: #FFFFFF;}#notie-input-text-no{color: #FFFFFF;}#notie-select-outer{top: auto; bottom: 0; cursor: default;}#notie-select-text{color: #FFFFFF;}#notie-select-choices, .notie-select-choice{background-color: #57BF57;}.notie-select-choice{height: 50px; line-height: 50px; color: #FFFFFF; cursor: pointer;}#notie-select-cancel{height: 60px; line-height: 60px; color: #FFFFFF; cursor: pointer; background-color: #A0A0A0;}.notie-select-choice-bottom-border{border-bottom: 1px solid rgba(255, 255, 255, 0.2);}#notie-date-outer{background-color: #4D82D6; color: #FFFFFF; cursor: default;}#notie-date-selector{margin: 0 auto; max-width: 900px; padding-left: 10px; padding-right: 10px;}.notie-date-up, .notie-date-down{height: 50px; float: left; width: 33.333333%; cursor: pointer;}.notie-date-arrow, .notie-date-arrow-up, .notie-date-arrow-down{height: 40px; width: 40px; background-size: 40px 40px; margin: 0 auto; margin-top: 5px;}.notie-date-arrow-up{background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0IDI4bDEwLTEwIDEwIDEweiIgZmlsbD0id2hpdGUiLz48cGF0aCBkPSJNMCAwaDQ4djQ4aC00OHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);}.notie-date-arrow-down{background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0IDIwbDEwIDEwIDEwLTEweiIgZmlsbD0id2hpdGUiLz48cGF0aCBkPSJNMCAwaDQ4djQ4aC00OHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=");}.notie-date-text{height: 50px; line-height: 50px; float: left; width: 33.333333%;}#notie-date-yes, #notie-date-no{float: left; width: 50%; height: 50px; line-height: 50px; color: #FFFFFF; background-color: #57BF57; cursor: pointer;}#notie-date-no{background-color: #E1715B;}
/* Unser CSS */

h1, h2, h3, h4, h5, h6, p, div, span {
  margin: 0;
}

body {
  background: #F5F5F5;
}

button {
  background-color: #ff1744;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px 5px 10px;
}

a:hover {
  text-decoration: none;
  color: #ff1744;
}

.block-input {
  display: block;
}

.inline-input {
  display: inline;
}

.infobox {
  max-width: 300px;
  border: 1px solid #9E9E9E;
  border-radius: 4px;
  background-color: #fff;
}

.view-more {
  width: 100%;
  height: 30px;
  background-color: #E0E0E0;
  border-top: 1px solid #9E9E9E;
  font-weight: 500;
  text-align: center;
}

.view-more-btn {
  color: #616161;
  display: inline-block;
  margin-top: 4px;
}


.view-more a:hover {
  color: #424242;
}

.box-text {
  font-size: 10pt;
  margin-top: 8px;
}

.time-tag {
  margin-top: 20px;
}

p span {
  margin-right: 4px;
}

.infobox-content {
  padding: 8px;
}
