<template name="hello">
    <div class="home">
        <div id="Aktuell">
            <h2>Wilkommen bei DaDaDaDemo</h2></div>
        <div>
            <div class="table">
                <div style="display:table-row">
                    <img src="/eye.png" class="icon" /><span class="mitte">Erfahre, was in deiner Stadt passiert.</span>
                </div>
                <div style="display:table-row">
                    <img src="/sword.png" class="icon" /><span class="mitte">Finde Mitstreiter!</span>
                </div>
            </div>

            <div class="table"><img src="" /><span class="mitte"></span></div>

        </div>

        <div id="login">
            <form>
               {{#if currentUser}}
               {{else}}
                {{>signUp}}
               {{/if}}
            </form>

        </div>



    </div>
</template>
