<template name="loginButtons">
    {{#if currentUser}}
    {{#if PWC}}
    <a id="PWCButton" class="btn btn-default">Passwort ändern</a>
<!--    <a class="button expanded secondary" onClick='$(".reveal .close-button").trigger("click")' href="/einstellungen"><i class="fa fa-cogs"></i> Einstellungen</a>-->
    <a id="logOutButton" class="btn btn-primary">LogOut</a>
    {{else}}
    <form>
        <div class="row">
            <div class="small-12 columns">
                <label>Altes Passwort
                    <input id="oldPW" type="password">
                </label>
            </div>
            <div class="small-12 columns">
                <label>Neues Passwort
                    <input id="newPW" type="password">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <a id="PWCSpeichern" class="btn btn-primary">Speichern</a>
            </div>
            <div class="small-6 columns">
                <a id="PWCAbbr" class="btn btn-default">Abbrechen</a>
            </div>
        </div>
    </form>
    {{/if}}
    {{else}}
    {{#if LogReg}}
    <h3>Login</h3>
    <form id="login-form" action="#">
        <div>
            <input type="text" id="login-email" />
            <input type="password" id="login-password" />
            <input type="submit" class="button" id="login-button" value="Einloggen" />
        </div>
    </form>
    <a id="toggleLogReg">Registrieren <i class="fa fa-chevron-right"></i></a>
    {{else}}
    <h3>Noch kein Konto ? Registriere dich jetzt</h3>
    <form id="register-form">
        <div>
            <input type="text" id="account-email" />
            <input type="password" id="account-password" />
            <input type="submit" class="button" id="create-account" value="Account erstellen" />
        </div>
    </form>
    <a id="toggleLogReg">Konto bereits vorhanden ? Login <i class="fa fa-chevron-right"></i></a>
    {{/if}}
    {{/if}}
</template>




<template name="LogOutButton">
    {{#if currentUser}}
    <a id="logOutButton-head" class="btn btn-primary">LogOut</a>
    {{else}}
    <form id="login-form-head" action="#">
        <div>
            <input type="text" id="login-email-head" />
            <input type="password" id="login-password-head" />
            <input type="submit" class="button" id="login-button-head" value="Einloggen" />
        </div>
    </form>
    {{/if}}
</template>
