<template name="Suche">
    <input id="search_input" class="form-control" type="text" placeholder="Suche..."/>
    Bundesland: <select id="bl_select">
        <option value="">-- Bundesland --</option>
        <option value="Baden-Württemberg">Baden-Württemberg</option>
        <option value="Bayern">Bayern</option>
        <option value="Berlin">Berlin </option>
        <option value="Brandenburg">Brandenburg</option>
        <option value="Bremen">Bremen </option>
        <option value="Hamburg">Hamburg </option>
        <option value="Hessen">Hessen</option>
        <option value="Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</option>
        <option value="Niedersachsen">Niedersachsen</option>
        <option value="Nordrhein-Westfalen">Nordrhein-Westfalen</option>
        <option value="Rheinland-Pfalz">Rheinland-Pfalz</option>
        <option value="Saarland">Saarland</option>
        <option value="Sachsen">Sachsen</option>
        <option value="Sachsen-Anhalt">Sachsen-Anhalt</option>
        <option value="Schleswig-Holstein">Schleswig-Holstein</option>
        <option value="Thüringen">Thüringen</option>
    </select>
    <div class="row">
        {{> GeneralList filter=filterO}}
    </div>

</template>
