


<template name="DemoDetail">


    <div class="infobox col-md-3">
            <div class="infobox-content">
                <h5 class="box-title">{{ueberschrift}}</h5>
                <p class="box-text">{{beschreibung}}</p>
                <p class="time-tag"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{datum.[0]}} -> {{datum.[1]}}</p>
                <p class="location-tag"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{ort.[0]}}, {{ort.[1]}}</p>
            </div>
            <div class="teilnehmer">
                <p>Teilnehmer:</p>
                <p>{{teilnehmerzahl}}</p>
            </div>
            <div class="view-more"><a class="view-more-btn" href="/demo/{{_id}}">Mitmachen!</a></div>
        </div>

</template>
